<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/home/login.js" defer></script>
    <!-- js 파일과 연동합니다. node 환경에서 이러한 js 폴더를 접근하기 위해서는 별도의 설정을 해주어야 합니다.(미들웨어 등록: app.js 파일 참고) -->
    <!-- async: 비동기, defer 옵션: 위에서 차례대로 수행, 완료 -->
    <title>Document</title>
</head>

<body>
    <input id="id" type="text" placeholder="아이디"><br>
    <input id="psword" type="text" placeholder="비밀번호"><br>
    <button>로그인</button>
</body>

</html>